<div class="ml-auto mr-auto main">
    <div class="text-center mb-5">
        <h1>
          <img src="../../../assets/logo/cc9588a8-ce03-4b30-839f-f6ac86414f3b_200x200.png" alt="logo" />
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form (submit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Uloguj se!</button>
                </div>
            </form>
        </div>
    </div>

</div>
