.main {
    max-width: 400px;
    background-color: #ffffff;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid green;
}

@media only screen and (max-width: 750px) {
    .main {
        border: none;
    }
}
