<div class="main ml-auto mr-auto">

    <div class="mb-5 mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-5 h-title-img">
                <a [routerLink]="['/plants']">
                    <img src="../../assets/logo/logo_DIGITALNI_HERBARIJUM.png" alt="logo" class="logo-image" />
                </a>
            </div>
            <div class="col-sm-12 col-md-7 h-title">
                <h2>Digitalni herbarijum</h2>
                <h6>Univerzitet Crne Gore</h6>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>

