.main {
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    /* margin-top: 50px;
    margin-bottom: 30px; */
    padding: 15px;
    /* border-radius: 10px; */
    /* border-color: green;
    border-width: 2px; */
    /* border: 2px solid purple; */
}

@media only screen and (max-width: 750px) {
    .main {
        padding: 5px;
    }
}

