.main {
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    padding: 30px;
    border: 1px solid #4f6228;
}

.h-title-img {
    display: flex;
    align-items: flex-end;
}

.h-title-img a {
    margin-left: auto;
}

.h-title {
    margin-top: 50px;
}

.h-title h2,
.h-title h6 {
    font-family: Castellar !important;
}

.logo-image {
    max-width: 150px;
}

@media only screen and (max-width: 750px) {
    .main {
        padding: 5px;
    }

    .h-title-img {
        display: flex;
        justify-content: center;
    }

    .h-title-img a {
        margin-left: auto;
        margin-right: auto;
    }

    .h-title {
        padding-left: 30px;
    }

    #login-button {
        visibility: hidden;
    }

    .h-title h2,
    .h-title h6 {
        font-family: Castellar;
        src: url('../../assets/fonts/CASTELAR.ttf') format('truetype');
    }
}
