.search-button {
    margin-top: 30px;
}

.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 20px;
    max-height: 90px;
    opacity: 0.7;
}

.h-autor {
    display: flex;
    align-items: flex-end;
}

.h-autor h6 {
    margin-left: auto;
}

@media only screen and (max-width: 720px) {
    .h-autor {
        display: flex;
        justify-content: flex-start;
    }

    .h-autor h6 {
        margin-right: auto;
    }
}
