/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
    cursor: pointer;
}

.max-width-350 {
    max-width: 350px;
}

.max-height-350 {
    max-height: 350px;
}

.btn.btn-success {
    background-color: #56b52a !important;

}
