/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
    cursor: pointer;
}

.max-width-350 {
    max-width: 350px;
}

.max-height-350 {
    max-height: 350px;
}

.max-width-200 {
    max-width: 200px;
}

.max-height-200 {
    max-height: 200px;
}

.max-width-100 {
    max-width: 200px;
}

.max-height-100 {
    max-height: 200px;
}

.btn.btn-success {
    background-color: #4f6228 !important;
}
