<!-- Hero Section -->
<section class="hero">
    <app-carousel
        class="carousel"
        [images]="carouselImages"
        [autoSlide]="true"
        [slideInterval]="4000">
    </app-carousel>
</section>

<!-- About Section -->
<section class="about">
    <h2>O nama</h2>
    <p>Digitalni herbarijum Univerziteta Crne Gore predstavlja prvu veb aplikaciju takvog tipa na području Crne Gore. Rad na aplikaciji je započet 2019. godine kao tema specijalističkog rada sa ciljem da postane pomoćno nastavno sredstvo koje će studentima/učenicima olakšati savladavanje gradiva iz botaničke grupe predmeta na različitim nivoima znanja. Podaci koje ova platforma nudi su: taksonomska pripadnost, opis vrste/podvrste, prateća fotodokumentacija (digitalizovani herbarski primjerci i fotografije biljnih vrsta na prirodnom staništu) i mapa na kojoj su prikazani georeferencirani podaci. Trenutna verzija Digitalnog herbarijuma broji oko 800 vrsta iz flore Crne Gore, a cilj je prikaz sveobuhvatnog diverziteta.</p>
</section>

<section class="cta">
    <p>
        Citiranje: Digitalni herbarijum UCG (2020+). Digitalni herbarijum Univerziteta Crne Gore. (URL). Prirodno-matematički fakultet, Univerzitet Crne Gore. (datum pristupa).
        <br>
        Urednici: Marina Šoškić (marina.s&#64;ucg.ac.me), Danijela Stešević (danijela.stesevic&#64;ucg.ac.me)
        <br>
        Kreator veb aplikacije: Dušan Boljanić (boljanicdusan&#64;gmail.com)
    </p>
</section>

