<div class="row mb-3">
    <div class="col-12">
        <a [routerLink]="['']" class="btn btn-success">
            < Nazad</a>
    </div>
</div>

<div class="row plants-container">
    <div class="col-sm-12 col-lg-6 plants-table-map">

        <table class="table table-striped plants-table">
            <tbody>
                <tr *ngIf="plant.vrsta">
                    <td><h6>Vrsta:</h6></td>
                    <td><em>{{ plant.vrsta }}</em></td>
                </tr>
                <tr *ngIf="plant.porodica">
                    <td><h6>Porodica:</h6></td>
                    <td>{{ plant.porodica }}</td>
                </tr>
                <tr *ngIf="plant.red">
                    <td><h6>Red:</h6></td>
                    <td>{{ plant.red }}</td>
                </tr>
                <tr *ngIf="plant.trivijalniNaziv">
                    <td><h6>Narodni naziv:</h6></td>
                    <td>{{ plant.trivijalniNaziv }}</td>
                </tr>
                <tr *ngIf="plant.sinonim">
                    <td><h6>Sinonim:</h6></td>
                    <td>{{ plant.sinonim }}</td>
                </tr>
                <tr *ngIf="plant.opis">
                    <td><h6>Opis i zanimljivosti:</h6></td>
                    <td>{{ plant.opis }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="row plants-photos">
            <div class="col-sm-12 ">
                <div *ngIf="slike && slike.length > 0" class="row">
                    <div class="col-12 pl-5">
                        <h5>Fotogalerija:</h5>
                    </div>
                </div>
                <div class="photo-galery">
                    <div *ngFor="let item of slike; let i = index">
                        <img class="max-height-100 max-width-100 m-3" src="{{ baseUrl }}images/{{ item.slika }}" appDisableRightClick appDisableDrag appDisableLongPress (click)="showLightboxSlika(i,'slika')" [alt]="item.slika">
                    </div>
                    <ng-image-fullscreen-view appDisableRightClick appDisableDrag appDisableLongPress [images]="imagesObject" [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-12 col-lg-6">

        <google-map
            #map
            class="plants-map"
            height="600px"
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options">
            <map-marker *ngFor="let marker of markers"
                #markerElem="mapMarker"
                [position]="marker"
                [title]="plant?.vrsta"
                (mapClick)="openInfo(markerElem)"
            >
            </map-marker>
            <map-info-window #infoWindow>{{ plant?.vrsta }}</map-info-window>
        </google-map>

    </div>
</div>
