<div class="row mb-5">
    <div class="col-12">
        <a [routerLink]="['']" class="btn btn-success">
            < Nazad</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-6 p-5">
        <div *ngIf="plant.vrsta">
            <div class="row">
                <div class="col-4">
                    <h5>Vrsta:</h5>
                </div>
                <div class="col-8">
                    <em>{{ plant.vrsta }}</em>
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="plant.porodica">
            <div class="row">
                <div class="col-4">
                    <h5>Porodica:</h5>
                </div>
                <div class="col-8">
                    {{ plant.porodica }}
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="plant.red">
            <div class="row">
                <div class="col-4">
                    <h5>Red:</h5>
                </div>
                <div class="col-8">
                    {{ plant.red }}
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="plant.trivijalniNaziv">
            <div class="row">
                <div class="col-4">
                    <h5>Narodni naziv:</h5>
                </div>
                <div class="col-8">
                    {{ plant.trivijalniNaziv }}
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="plant.sinonim">
            <div class="row">
                <div class="col-4">
                    <h5>Sinonim:</h5>
                </div>
                <div class="col-8">
                    <em>{{ plant.sinonim }}</em>
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="plant.opis">
            <div class="row">
                <div class="col-4">
                    <h5>Opis i zanimljivosti:</h5>
                </div>
                <div class="col-8">
                    {{ plant.opis }}
                </div>
            </div>

            <hr>
        </div>

    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 ">
                <div *ngIf="plant.slike && plant.slike.length > 0" class="row">
                    <div class="col-12 pl-5">
                        <h5>Slike:</h5>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let item of plant.slike; let i = index" class="col-auto text-center">
                        <img class="max-height-350 max-width-350 m-3" src="{{ baseUrl }}images/{{ item.slika }}" (click)="showLightboxSlika(i,'slika')" [alt]="item.slika">
                    </div>
                    <ng-image-fullscreen-view [images]="imagesObject" [imageIndex]="selectedImageIndex" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div *ngIf="plant.slikeUPrirodi && plant.slikeUPrirodi.length > 0" class="row">
                    <div class="col-12 pl-5">
                        <h5>Slike iz prirode:</h5>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let item of plant.slikeUPrirodi; let i = index" class="col-auto text-center">
                        <img class="max-height-350 max-width-350 m-3" src="{{ baseUrl }}images/{{ item.slika }}" (click)="showLightboxSlika(i,'slikaUPrirodi')" [alt]="item.slika">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-12">
        <google-map
            height="800px"
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options">
            <map-marker *ngFor="let marker of markers"
                #markerElem="mapMarker"
                [position]="marker"
                [title]="plant?.vrsta"
                (mapClick)="openInfo(markerElem)"
            >
            </map-marker>
            <map-info-window #infoWindow>{{ plant?.vrsta }}</map-info-window>
        </google-map>

    </div>
</div>
